@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Gowun Dodum', sans-serif;
}

.header {
  width: 60vw;
}

.main {
  width: 60vw;
  border-bottom: #282828 solid 5px;
}

.buttonArea {
  
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 20vw;
  height: 60vh;
  margin-top: 2.5vh;
}

.button {
  background-color: #fff;
  width: 12vw;
  height: 5vh;
  border: #282828 solid 1px;
  border-radius: 0.5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-bottom: .5vh;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 1em;
}

.button:hover {
  color: #282828;
  box-shadow: #282828 2px 2px 2px;
  font-weight: bold;
  transition-duration: 200ms;
}

.button:active {
  background-color: #2828287e;
  color: white;
  box-shadow: #282828 2px 2px 2px inset;
  font-weight: bold;
  transition-duration: 100ms;
}

.endContent {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 30vw;
  height: 60vh;
  margin-top: 5vh;
}

.imageArea {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.image {
  border-radius: 20px;
  width: 25vw;
  height: 25vh;
  box-shadow: #282828 2px 2px 2px;
}

.textArea { 
  width: 21vw;
  padding-left: 0vw;
 }
.titleBox {
  font-weight: bold;
  font-size: 1.5em;
}

.cityBox { font-size: 1.2em; }
.keywordBox {
  margin-top: 2vh;
}